<!DOCTYPE html>
<html ng-app="todomvc">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="TodoCtrl">
    <h1>Todos</h1>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="text" name="todo" ng-model="todo.title" />
        <input type="checkbox" name="name" ng-model="todo.done" />
      </li>
    </ul>
    <pre>{{ todos | json }}</pre>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>
