<!DOCTYPE html>
<html ng-app="todomvc">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="TodoCtrl">
    <h1>Todos</h1>

    <ul>
      <li>
        <todo-form create="onCreate(title)"></todo-form>
      </li>
    </ul>


    <ul>
      <li ng-repeat="todo in todos | filter: status as results">
        <todo-item todo="todo" remove="onRemove(todo)"></todo-item>
      </li>
      <li ng-if="results.length === 0">No results.</li>
    </ul>

    <ul>
      <li><button ng-click="status={done: true}">Done</button></li>
      <li><button ng-click="status={done: false}">Pending</button></li>
      <li><button ng-click="status={}">All</button></li>
    </ul>

    <pre>{{ todos | json}}</pre>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/app.controller.js"></script>
    <script src="js/directives/todo-item.directive.js"></script>
    <script src="js/directives/todo-form.directive.js"></script>
  </body>
</html>
